@charset "utf-8";
 
#logo{
	background:url(../images/logo.png) left no-repeat;
	width:322px;
	height:66px;	
}
#logo span{
	text-indent:60px;
	display:inline-block;
	font-size:11px;
	text-shadow: 1px 1px 1px #fff, 0 0 0 #000000, 1px 1px 1px #fff;
	line-height:16px;	
}
#logo div{
	text-indent:60px;
	display:inline-block;
	font-size:13px;
	text-shadow: 1px 1px 1px #fff, 0 0 0 #000000, 1px 1px 1px #fff;
	line-height:19px;
	
	
}
@font-face
{
	font-family: segoe ui;
	src: url(segoeui.ttf);
}
body{	
	margin:0px!important;
	padding:0px!important;
	width:100%;
	height:100%; 
	font:12px segoe ui, Geneva, sans-serif;
	background:url(../images/form_main/background.jpg) no-repeat;
	background-size:cover;
	 -webkit-user-select: none;  
	  -moz-user-select: none;    
	  -ms-user-select: none;      
	  user-select: none;
	 overflow:hidden;	 
}
:focus { outline: none; }
#overlay{
	position:absolute;	
	width:inherit;
	height:inherit;
	z-index:1004;
	background:url(../images/form_main/overlay.png) repeat;		 	
	/*background:url(../images/form_main/compare_0.png) repeat;	*/
}
.ui-dialog{
	z-index:1000!important;
	-webkit-transition:box-shadow 0.5s ease-in-out;
    -moz-transition:box-shadow 0.5s ease-in-out;
    -o-transition:box-shadow 0.5s ease-in-out;
    -ms-transition:box-shadow 0.5s ease-in-out;
    transition:box-shadow 0.5s ease-in-out;	
}
#info_dialog{
	z-index:1001!important;
}
.ui-jqdialog-title,.ui-jqgrid-title,.ui-dialog-title{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6) !important;
	color:#000;	
}
.ui-jqdialog .loading,#tabs .loading{
	top:47%;
	left:35%;
	position:absolute;	
}
#frame1{
	border:none;
	width:100%;
	height:100%;
	overflow:hidden;
	border-radius: 5px;
	visibility:hidden; 
}
.upload_frame iframe{
	border:none;
	width:100%;
	height:100%;
	overflow:hidden;
	border-radius: 5px;
	visibility:hidden;
	overflow:hidden!important; 
}
.bottom_form{
	width:inherit;
	height:99px;
	background:url(../images/form_main/bottom.png) top no-repeat;	 
	margin-top:-7px;
}
#panel_main{
	width:inherit;
	display:none;	 
}
#shift_info{
	width:200xp;
	padding-top:8px;
	padding-right:30px;
	height:90px;
	vertical-align:middle;
	display: table-cell;
	line-height:17px;
	background:url(../images/form_main/icon_top_bot.png) no-repeat bottom right ;
	font-size:11px;
	 
}
#shift_info div{
	color: rgba(7, 143, 222, 0.8);
	text-shadow: 1px 1px 1px #fff, 0 0 0 #000000, 1px 1px 1px #fff;
	font-weight:bold;
	margin-left:10px;	 
	text-align:right;
	display:inline-block;	
}
#shift_info span{
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px #fff, 0 0 0 #000000, 1px 1px 1px #fff;
	font-weight:bold;	
}
#shift_info a{
	color: rgba(7, 143, 222, 0.8);
	text-shadow: 1px 1px 1px #fff, 0 0 0 #000000, 1px 1px 1px #fff;
	font-weight:bold;
	margin-left:10px;
	text-align:right;
	display:inline-block;
	text-decoration:underline;	 	
}
#lisence_info,.header_phieu{
	display: table-cell; 
	text-shadow: 1px 1px 1px #fff, 0 0 0 #000000, 1px 1px 1px #fff;
	font-weight:bold;
	font-size:11px;	 
	line-height:17px; 
	background:url(../images/form_main/family_logo.png) 0px 25px no-repeat;	
}
#lisence_info{ 
	padding-top:20px;	 
 }
#lisence_info div,#lisence_info span,.header_phieu div,.header_phieu span{
	color: rgba(0, 179, 160, 0.8);
	text-shadow: 1px 1px 1px #fff, 0 0 0 #000000, 1px 1px 1px #fff;	
	text-align:right;
	display:inline-block;
	text-indent:70px; 	
}
#lisence_info span strong{
	color: rgba(0, 0, 0, 0.8);	 
}
#lisence_info div{
	font-size:13px;
	letter-spacing:0.5px;
}
/*---------------header--------------------*/
.header_form{
	width:inherit;
	height:40px;
	background:url(../images/form_main/header.png) bottom no-repeat;
	position:absolute;
	padding-left:11px;	
	/*text-shadow: 1px 1px 1px #fff, 0 0 0 #000000, 1px 1px 1px #fff;*/
	font-size:11px;
	font-weight:bold;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;	 
	display:none;
}
.header_form a{
	color:black;
	text-decoration:none;
}
.header_form :hover{
	 text-shadow: 1px 1px 1px #000, 0 0 0 #000000, 1px 1px 1px #000; 
	-webkit-transition:text-shadow 0.5s ease-in-out;
    -moz-transition:text-shadow 0.5s ease-in-out;
    -o-transition:text-shadow 0.5s ease-in-out;
    -ms-transition:text-shadow 0.5s ease-in-out;
    transition:text-shadow 0.5s ease-in-out;
	color:white;    
}

.header_form #header_main{
	background:url(../images/form_main/icon/circle.png) no-repeat left center;
	text-indent:29px;
	display:table-cell;
	vertical-align:middle;
	height:31px;	
}
.header_form .seperate{
	height:20px;
	background:url(../images/form_main/icon_top_bot.png) left center no-repeat;
	width:25px;
	display:table-cell;	
}
.header_form #search,.header_form #wave,.header_form #list,.header_form #cash,.header_form #medicine{	 
	text-indent:15px;
	display:table-cell;
	vertical-align:middle;
	height:20px;
	padding-left:10px;
	cursor:pointer;	 
}
.header_form #search{	 
	 background:url(../images/form_main/icon/search.png) left center no-repeat;	 
}
.header_form #wave{	 
	background:url(../images/form_main/icon/wave.png) left center no-repeat;
 }
.header_form #list{	 
	background:url(../images/form_main/icon/list.png) left center no-repeat; 
}
.header_form #cash{	 
	background:url(../images/form_main/icon/cash.png) left center no-repeat;	 
}
.header_form #medicine{	 
	background:url(../images/form_main/icon/medicine.png) left center no-repeat;	 
}

/*---------------login--------------------*/
#login_main{
	position: relative; 
}
.ui-autocomplete {
	z-index:1006!important;
}
#login{
	background:url(../images/form_main/login_box.png) no-repeat;
	display:none;
	width:427px;
	height:352px;
	position:absolute;
	z-index:1005;
	 /* opacity:0.9;
	filter:alpha(opacity=90);For IE8 and earlier */		
	border-radius: 5px;	 	
	-webkit-transition:box-shadow 2s ease-in-out;
    -moz-transition:box-shadow 2s ease-in-out;
    -o-transition:box-shadow 2s ease-in-out;
    -ms-transition:box-shadow 2s ease-in-out;
    transition:box-shadow 2s ease-in-out;	
}
#login_bg{
	background:url(../images/form_main/login_bg.png)#42b5df no-repeat center center;
	position:absolute;
	z-index:1000;
	width:100%;
	height:100%;
}
#left_load{
	background:url(../images/form_main/left_load.png) no-repeat;
	position:absolute;
	z-index:1001;
	width:245px;
	height:502px;
	display:none;	
}
#bottom_load{
	background:url(../images/form_main/bottom_load.png) no-repeat;
	position:absolute;
	z-index:1001;
	width:100%;
	height:103px;
	display:none;	
}
#top_load{
	background:url(../images/form_main/top_load.png) no-repeat;
	position:absolute;
	z-index:1001;
	width:100%;
	height:61px;
	display:none;
}
#form_title{
	margin-top:40px;	 
	text-align:center;
	color:#FFF;
}
#form_title div{	 
	/*text-shadow: 1px 1px 1px #086fa6, 0 0 0 #086fa6, 1px 1px 1px #086fa6;*/
	font-size:30px;
	font-weight:bold;
	margin-bottom:7px;  
	text-shadow: #222121 1px 1px 1px;
	font-effect:emboss;	
}
#form_title span{	 
	text-shadow: #222121 1px 1px 1px;
	font-size:16px;
	font-weight:bold; 	 
}

#form_login {
	margin-top:45px;
	margin-left:45px;
	color:#FFF;	
}
#form_login input#usermane,input#usermane1{
	background:url(../images/form_main/icon/username.png) 7px 15px no-repeat,url(../images/form_main/textbox_login.png) no-repeat;
	text-indent:27px;	 
}
#form_login input#password{
	background:url(../images/form_main/icon/lock.png) 10px 15px no-repeat,url(../images/form_main/textbox_login.png) no-repeat;	
	text-indent:27px; 
}
#form_login input#usermane,#form_login input#password,#form_login input#usermane1{
	width:217px;
	height:42px;
	border:none;		
	display:inline-block;
	margin-left:7px;
	font-size:13px;
	color:#FFF;	
}
#form_login input#usermane1{
	margin-left:4px;	
}
#form_login div#lost_pass{
	margin-top:10px;
	margin-left:230px;
	text-decoration:underline;
	cursor:pointer;	
	text-shadow: #222121 1px 1px 1px;
}
#form_login label{
	display:inline-block;
	text-align:right;
	width:100px;
	text-shadow: #222121 1px 1px 1px;
	font-size:13px;
	font-weight:bold;	
}
#form_login #submit_login{
	background:url(../images/form_main/login_button.png) no-repeat;
	width:162px;
	height:34px;
	text-align:center;
	font:13px/34px segoe ui, Tahoma, sans-serif;
	margin-left:90px;
	margin-top:25px;
	cursor:pointer;
	text-shadow: 1px 0px 1px #222121, 0 0 0 #222121, 1px 1px 1px #222121;
	border-radius: 5px;
}
#form_login #submit_login:hover{		
	-webkit-transition:box-shadow 0.5s ease-in-out;
    -moz-transition:box-shadow 0.5s ease-in-out;
    -o-transition:box-shadow 0.5s ease-in-out;
    -ms-transition:box-shadow 0.5s ease-in-out;
    transition:box-shadow 0.5s ease-in-out;	
	box-shadow: 0px 0px 10px #1a1a1a;
	  	 
}
#form_login .submit_login_hover{		
	-webkit-transition:box-shadow 0.5s ease-in-out;
    -moz-transition:box-shadow 0.5s ease-in-out;
    -o-transition:box-shadow 0.5s ease-in-out;
    -ms-transition:box-shadow 0.5s ease-in-out;
    transition:box-shadow 0.5s ease-in-out;	
	box-shadow: 0px 0px 10px #1a1a1a;	 	 
}

.loading{
	margin-left:130px;
	margin-top:10px;
}
.loading #loading{
	background:url(../images/form_main/loading.png) no-repeat;
	width:80px;
	height:12px;
}
.tooltips{
	background-color:#0087ce;
	color:#FFFFFF;
	border-radius: 4px 4px 4px 4px;
	position:absolute;
	font:"Calibri", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial!important;	 
	padding: 10px 10px;
	opacity:0.95;filter:alpha(opacity=95);
	display:none;
	top:0px;
	left:0px;
	z-index:1000000;
	border:1px solid #00689f;
	box-shadow:0px 0px 5px  #333333;
	font-weight:bold!important;	
}
#tabs {
    white-space: nowrap;
    overflow: hidden;
	height:98%;
}
#tabs ul li {
    display: inline-block;
    float: none;
    vertical-align: bottom;
} 
#tabs .scroller { 
    overflow-x:visible;
	overflow-y:hidden;
} 
#tabs{ 
    padding: 0px; 
    background: none;
    border-width: 0px;	
} 
#tabs .ui-tabs-nav { 
    padding-left: 0px; 
    background: transparent; 
    /*border-width: 0px 0px 1px 0px; */
	border:none;
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px;	 
} 
#tabs .ui-tabs-nav li { 
    margin-top: 0.6em; 
    font-size: 80%; } 
#tabs .ui-tabs-nav li.ui-tabs-selected, 
#tabs .ui-tabs-nav li.ui-state-active { 
	margin-top: 0.6em; 
    font-size: 80%;
	background:#FFF; 
	box-shadow:0px 0px 3px #000;
	border:none;
   /* margin-top: 0em; 
    font-size: 100%;
	box-shadow:0px 0px 3px #000;
	border:none;
	background:#FFF; 	*/
}
#tabs .ui-tabs-panel { 
    background:#FFF; 
    border-width: 0px 1px 1px 1px; 
	/*border-top-right-radius: 5px;*/
	height:100%;
	 
}


/*#tabs  ul#tab_tam { 
    width: 1660px!important;
}
*/

.ui-widget-overlay {
  opacity:0.01!important;
  filter: alpha(opacity=1)!important; 
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"!important; 
  /*overlay trong suot*/  
  }